html {
  scroll-behavior: smooth;
}
body {
  background-color:#eee;
  font-family:sans-serif;
  margin:0;
}
.tm-page{
  visibility: hidden;
}
.container {
  background-color:#fff;
  border:solid 1px #ccc;
  margin:2em;
  padding:1em;
}
.count-message {
  color:#999;
  text-align:right;
}
.list{
  display: none;
}

.blog {
  bottom:1em;
  font-size:.75em;
  position:absolute;
  right:1em;
}
.loader-container{
  position: absolute;
  top:50%;
  left:50%;
  z-index: 10;
  background:#fff;
}

  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 
.uk-text-secondary {
    color: #004064 !important;
}
.uk-h1, h1{
  font-size: 30px;
  font-size: 25.5px;
  line-height: 1.2;
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: -.02em;
}
.uk-text-lead {
    font-size: 19px;
    line-height: 1.6;
    color: #4e4b4b;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: -.02em;
}
.uk-text-success {
    color: #054312 !important;
}
.tm-page {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    -webkit-text-size-adjust: 100%;
    color: #5a5150;
    text-rendering: optimizeLegibility;
}
.tm-page {
    border-top: 3px solid #79b320;
}
.tm-page {
    position: relative;
    z-index: 0;
}
.uk-heading-medium {
    font-size: 2.8rem !important;
}
.uk-heading-medium {
    font-size: 2.02125rem;
    line-height: 1.2;
    color: #4e4b4b;
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -.04em;
}
.tm-headerbar-top {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
#google-form{
  width: 100%;
  height: 800px;
}
#paso2{
  display: none;
  height: 0px;
}
#banner{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./banner.jpg);
  background-position: center;
  min-height: 50vh;
  background-size: cover;
}
#banner .cont{
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(0.5);
  text-align: center;
}
#banner .cont h1{
  position: relative;
  top: 50%;
}
.lds-ring {
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 124px;
  height: 124px;
  margin: 50vh 50%;
  border: 10px solid #1B9BD3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1B9BD3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* #loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
    background-color: #fff;
}  */